<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    </head>
    <body>
            <h1 class="edit">Edit This Task</h1>
            <form action="/tasks/<%=task.id%>?_method=PUT" method="POST">
                Title: <input type="text" name="title" value="<%=task.title%>"><br/>
                Details: <input type="textarea" name="description"  value="<%=task.description%>"><br/>
                Notes: <br> <input type="textarea" name="notes" value="<%=task.notes%>"> <br>
                Completed:
                <input type="checkbox" name="completed"
                <% if(task.completed === true){ %>
                    checked
                <% } %>>
                <br><br>
                <input type="submit" value="Make Changes"/>
            </form>
            <form action="/tasks/<%=task.id; %>?_method=DELETE" method= "POST">
                <input type="submit" value="Remove Task"/>
            </form>
    </body>
</html>
