<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%include ../partials/head.ejs%>
    </head>
    <body class="index">
        <header role="banner">
            <h1><%=user%>'s task list.</h1>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-title">
                            <h2>To Do</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <%for(let i = 0; i < tasks.length; i++){%>
                                    <%if(tasks[i].completed === false){%>
                                        <li class="list-group-item">
                                            <a href="/tasks/<%=tasks[i].id; %>" class="btn"><%=tasks[i].title%></a><br>
                                                <form action="/tasks/<%=tasks[i].id; %>?_method=PATCH" method="POST">
                                                    <input type="submit" value="MARK DONE">
                                                </form>
                                        </li>
                                    <%}%>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-title">
                            <h2>Done</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <%for(let i = 0; i < tasks.length; i++){%>
                                    <%if(tasks[i].completed === true){%>
                                        <li class="list-group-item">
                                            <a href="/tasks/<%=tasks[i].id; %>"><%=tasks[i].title%></a><br>
                                        </li>

                                    <%}%>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newBtn">
                <a class="nav-link" href="/tasks/new">Add New Task</a>
            </div>
        </div>
            <% include ../partials/bootstrap.ejs %>
    </body>
</html>
